In [3]:
import pandas as pd

In [4]:
!pip install openpyxl pandas

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 518.7 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: pandas in ./venv/lib/python3.11/site-packages (2.1.0)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: numpy>=1.23.2 in ./venv/lib/python3.11/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [10]:
pd.set_option('display.width', 1000)

In [11]:
# This should be left as is 
xls = pd.ExcelFile('Test Files.xlsx')
# Loads data for each class as separate dataframe 
# TODO: Rename this to something that makes sense
class_3b = pd.read_excel(xls, '3B')
class_3c = pd.read_excel(xls, '3C')

In [13]:
#(cae)  I think this should be left as is to show the working
print(class_3b.head())
print(class_3c.tail())

   No.  Student Number                     Student Name        DoB  Email Address Gender
0    1          144234        Abwoga, Adrian Jared Paul 2000-06-17            NaN      M
1    2          145587  Akong'o, Shanelle Hilda Anyango 2001-11-14            NaN      F
2    3          145401             Ang'edu, Jude Ocomil 2003-08-21            NaN      M
3    4          140801               Arunga, Kyla Neema 2003-10-26            NaN      F
4    5          137357   Atenya, Anthony Magunga Ikobwa 2002-03-17            NaN      M
    No.  Student Number                 Student Name        DoB  Email Address Gender
54   55          145770         Wahu, Bridget Makena 2002-04-10            NaN      F
55   56          145369       Wango, Michael Mundati 2002-12-06            NaN      M
56   57          137938      Wangombe, Martin Mwangi 2002-08-08            NaN      M
57   58          145838       Wanyonyi, Brian Newton 2002-02-17            NaN      M
58   59          138616  Wasike, Nicole Jones Nekesa 2003-11-20            NaN      F

In [34]:

#TODO: What should be implemented here 
#  1. A function that accepts a dataframe
#  2. and returns a dataframe that contains an email
#  
# You can try to use regular expressions for the matching.
# TIP: Try looping to dataframes and doing it in place instead of storing it in a 
# list and appending.

names = class_3b["Student Name"]
# import re
# 
# m = re.compile("[^a-z].*")
import string

email_list = []
for name in names:
    full_name = name.split(" ")
    first_name = full_name[0].lower()
    last_name = full_name[-1].lower()

    # clean_first_name = ""
    # for char in first_name:
    #     if char in string.ascii_lowercase:
    #         clean_first_name += char

    # TODO: Check for uniqueness in emails
    clean_last_name = "".join(char for char in last_name if char.isalnum())

    email_list.append(first_name[0] + clean_last_name + "@gmail.com")

class_3b["Email Address"] = email_list
print(class_3b)

    No.  Student Number                     Student Name        DoB       Email Address Gender
0     1          144234        Abwoga, Adrian Jared Paul 2000-06-17     apaul@gmail.com      M
1     2          145587  Akong'o, Shanelle Hilda Anyango 2001-11-14  aanyango@gmail.com      F
2     3          145401             Ang'edu, Jude Ocomil 2003-08-21   aocomil@gmail.com      M
3     4          140801               Arunga, Kyla Neema 2003-10-26    aneema@gmail.com      F
4     5          137357   Atenya, Anthony Magunga Ikobwa 2002-03-17   aikobwa@gmail.com      M
..  ...             ...                              ...        ...                 ...    ...
59   60          143621             Wachira, Joy Muthoni 2001-08-07  wmuthoni@gmail.com      F
60   61          146360           Wakaba, Rosemary Njeri 2000-01-11    wnjeri@gmail.com      F
61   62          124342             Wanjao, Louis Mbugua 2001-04-20   wmbugua@gmail.com      M
62   63          145356           Waweru, Monika Ng'endo 2002-05-20   wngendo@gmail.com      F
63   64          137931           Waweru, Trevor Kariuki 2002-04-19  wkariuki@gmail.com      M

[64 rows x 6 columns]

In [36]:
def save_to_file(df: pd.DataFrame, path: str):
    """
    Save a file as csv and tsv format 
    :param df: The dataframe for which we are saving data
    :param path: The path to file, should be the absolute path.
    :return: None
    """
    df.to_csv(f"{path}.csv")
    df.to_csv(f"{path}.tsv", sep="\t")

In [42]:
# TODO:
# This should be a function , takes a single dataframe, returns a tuple/list
# syntax 
# def get_genders(dataFrame): -> (pd.Dataframe, pd.Dataframe)
#
class_3c_c = class_3c

females_class = class_3c_c[class_3c_c["Gender"] == "F"]
males_class = class_3c_c[class_3c_c["Gender"] == "M"]

In [77]:
females_class

    No.  Student Number                    Student Name        DoB  Email Address Gender
0     1          136603            Adhiambo, Jane Daisy 2003-03-04            NaN      F
1     2          142285  Ali, Sumeiya Abdulle Abdirizak 2002-05-01            NaN      F
3     4          145210         Barasa, Michelle Nekesa 2000-06-25            NaN      F
8     9          136046                 Frances, Ayango 2001-11-25            NaN      F
9    10          146399           Gitau, Sandra Wanjiru 2003-01-11            NaN      F
11   12          145279         Kabui, Michelle Miceere 2002-02-27            NaN      F
12   13          145491          Kamau, Edinah Nyambura 2003-02-08            NaN      F
14   15          146013           Karani, Amanda Ngendo 2002-12-23            NaN      F
16   17          145802         Kennedy, Angel Venoliah 2001-12-25            NaN      F
18   19          137503  Kiiru, Cynthia Everlyn Muthoni 2001-12-05            NaN      F
20   21          128576                 Kinegeni, Terry 2000-12-09            NaN      F
21   22          145602           Kyalo, Felicia Mutheu 2001-03-03            NaN      F
29   30          138583           Muchiri, Lynn Wairimu 2001-07-22            NaN      F
31   32          140091        Mukiri, Maryanne Wanjiku 2000-10-13            NaN      F
34   35          139133     Mutende, Arabella Fanisheba 2002-05-06            NaN      F
36   37          146016              Mwago, Megan Dette 2001-08-14            NaN      F
38   39          145646      Nalugala, Venessa Chebukwa 2001-11-13            NaN      F
39   40          145813       Ndirangu, Denise Nyambura 2002-12-08            NaN      F
41   42          141733             Ngari, Sifa Gathoni 2003-06-15            NaN      F
44   45          145536         Nyang'or, Olive Menorah 2002-07-12            NaN      F
47   48          146533         Omondi, Winfred Achieng 2000-06-18            NaN      F
50   51          146413       Rotich, Mercy Chepngetich 2003-07-10            NaN      F
54   55          145770            Wahu, Bridget Makena 2002-04-10            NaN      F
58   59          138616     Wasike, Nicole Jones Nekesa 2003-11-20            NaN      F

In [44]:
males_class

    No.  Student Number                 Student Name        DoB  Email Address Gender
2     3          146072          Asava, Wayne Majani 2002-11-03            NaN      M
4     5          143496          Bigingi, Ian Duncan 2003-04-19            NaN      M
5     6          146171        Cheboi, Lormotum Noel 2000-07-21            NaN      M
6     7          145835         Dulo, Humphrey James 2002-04-22            NaN      M
7     8          146565         Etemesi, Caleb Asira 2003-02-04            NaN      M
10   11          146424           Hassan, Masoud Ali 2001-09-22            NaN      M
13   14          137991          Kamau, Jesse Mbugua 2003-08-14            NaN      M
15   16          145212       Kathurima, Ryan Kinoti 2000-04-28            NaN      M
17   18          136395            Kiilu, Jeff Kioko 2002-12-28            NaN      M
19   20          141690          Kimani, Alex Mwangi 2002-06-18            NaN      M
22   23          138216   Leting, Sylvester Kiplagat 2003-12-15            NaN      M
23   24          139991           Lihanda, Glen Musa 2003-11-26            NaN      M
24   25          144915          Mahia, Jerome Kamau 2003-11-26            NaN      M
25   26          115104       Mbugua, Nathan Ng'ethe 2002-06-26            NaN      M
26   27          139074  Mbwanga, Emmanuel Chivunira 2002-11-07            NaN      M
27   28           92313        Moire, Henry Nyakundi 2003-04-07            NaN      M
28   29          129029        Morara, Keith Matwere 2000-08-26            NaN      M
30   31          144338    Mugendi, Emmanuel Muthomi 2000-08-16            NaN      M
32   33          145351              Mungai, Kihanya 2000-09-10            NaN      M
33   34          145836         Musyoka, Brian Kioko 2002-07-10            NaN      M
35   36          145703         Mutinda, Bryan Lwaya 2003-06-01            NaN      M
37   38          145041             Mwai, David King 2000-02-28            NaN      M
40   41          139149         Ngahu, David Gitonga 2000-08-09            NaN      M
42   43          134321      Nguthiru, Edwin Ndiritu 2001-01-04            NaN      M
43   44          145354       Nyamosi, Edmond Omwega 2001-04-12            NaN      M
45   46          122993                 Omal, Warren 2003-07-08            NaN      M
46   47          145182     Omondi, Emmanuel Neville 2003-11-16            NaN      M
48   49          131778           Otao, Davis Mokora 2001-06-04            NaN      M
49   50          146202     Rintaugu, Mugambi Nteere 2000-05-28            NaN      M
51   52          146254          Sehmi, Singh Jeevan 2001-01-24            NaN      M
52   53          144914       Vasani, Aman Upinkumar 2002-12-26            NaN      M
53   54          135361        Wafula, Gideon Simiyu 2003-12-15            NaN      M
55   56          145369       Wango, Michael Mundati 2002-12-06            NaN      M
56   57          137938      Wangombe, Martin Mwangi 2002-08-08            NaN      M
57   58          145838       Wanyonyi, Brian Newton 2002-02-17            NaN      M

In [49]:
males_class["Student Number"]

2     146072
4     143496
5     146171
6     145835
7     146565
10    146424
13    137991
15    145212
17    136395
19    141690
22    138216
23    139991
24    144915
25    115104
26    139074
27     92313
28    129029
30    144338
32    145351
33    145836
35    145703
37    145041
40    139149
42    134321
43    145354
45    122993
46    145182
48    131778
49    146202
51    146254
52    144914
53    135361
55    145369
56    137938
57    145838
Name: Student Number, dtype: int64

In [1]:
# BUG: This code isn't working, so whoever fixes it 
# should ensure it covers it
# 
# The goal was to print the data with special characters
er = []
for name in females_class["Student Name"]:
    print(name, string.punctuation in name)
    er.append(name.__contains__(string.punctuation))

print(er)

NameError: name 'females_class' is not defined

In [2]:
!pip install -U sentence-transformersa

Collecting sentence-transformers
  Downloading sentence-transformers-2.2.2.tar.gz (85 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.0/86.0 kB 174.2 kB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Collecting transformers<5.0.0,>=4.6.0
  Downloading transformers-4.33.2-py3-none-any.whl (7.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.6/7.6 MB 183.8 kB/s eta 0:00:0000:0100:02
Collecting tqdm
  Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 257.6 kB/s eta 0:00:00a 0:00:01
Collecting torch>=1.6.0
  Downloading torch-2.0.1-cp311-cp311-manylinux1_x86_64.whl (619.9 MB)
     ━━━━━╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.0/619.9 MB 65.3 kB/s eta 2:17:16^C
     ━━━━━╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.0/619.9 MB 65.3 kB/s eta 2:17:16
ERROR: Operation cancelled by user

In [67]:
# concatenate both classes
all_classes = pd.concat([class_3c, class_3b])
# Shuffle names
shuffled_class = all_classes.sample(frac=1)

    No.  Student Number               Student Name        DoB       Email Address Gender
32   33          145351            Mungai, Kihanya 2000-09-10                 NaN      M
50   51          138897  Ochanda, Steven Joel Jona 2000-04-02     ojona@gmail.com      M
41   42          141733        Ngari, Sifa Gathoni 2003-06-15                 NaN      F
13   14          137766     Johnson, Myles Adebayo 2001-04-27  jadebayo@gmail.com      M
61   62          124342       Wanjao, Louis Mbugua 2001-04-20   wmbugua@gmail.com      M
..  ...             ...                        ...        ...                 ...    ...
0     1          136603       Adhiambo, Jane Daisy 2003-03-04                 NaN      F
53   54          124965      Ombongi, Caleb Magare 2002-09-27   omagare@gmail.com      M
56   57          141756           Patel, Jay Hirji 2003-06-25    phirji@gmail.com      M
16   17          145802    Kennedy, Angel Venoliah 2001-12-25                 NaN      F
11   12          145279    Kabui, Michelle Miceere 2002-02-27                 NaN      F

[123 rows x 6 columns]

In [76]:
# Save: the file
# PS: The format is wrong, please, fix it:
# With love :)  (cae) 

all_classes.drop_duplicates(inplace=True)
all_classes.reset_index(inplace=True)

all_classes

all_classes.to_json("./all_classes.json", orient="records")

# all_classes.to_json("./all_classes_line.json",lines=True,orient='records')

ValueError: cannot insert level_0, already exists